<!DOCTYPE html>
<html lang="en">
<head>
    <title>Concerts you may be interested in</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
</head>
<body>
    <h2>Shows</h2>
    <table>
        <tr>
            <th>Artist</th>
            <th>Location</th>
            <th>Tour page</th>
        </tr>
        {% for key, value in concerts.items() %}
        <tr>
            <td>{{key}}</td>
            <td>{{value.location}}</td>
            <td>{{value.url}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>